<link rel="stylesheet" href="css/gallery.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script src="javascripts/fade-in.js"></script>

<div id="gallery-container">
    <div id="title-image-container-2" class="fade-in">
        <img src="img/geo-triangles-white.jpg">
    </div>
    <div id="title-container">
        <div id="title-div">
            <div id="title-background">
                <h1 id="title">Gallery</h1>
            </div>
        </div>
    </div>

    <div id="box-3">
        <h1>With years of experience, these are just a few of our stories.</h1>
    </div>

    <div id="box-2">
        <div id="background">


            <div id="gallery">
                <img src="img/img_01.jpg">
                <img src="img/img_02.jpg">
                <img src="img/img_03.jpg">
                <img src="img/img_04.jpg">
                <img src="img/img_05.jpg">
                <img src="img/img_06.jpg">
                <img src="img/img_07.jpg">
                <img src="img/img_08.jpg">
            </div>
        </div>
    </div>
</div>