<div class="container">

	<div class="title-container">
		<h1 id="title">Long Island Prime Painting</h1>
	</div>

	<div id="list-container">
  	<ul id="list">
     <li><a href="#about" class="anchor-tag">Who Are We</a></li>
      <li><a href="#gallery"  class="anchor-tag">Portfolio</a></li>
      <li><a href="#services" class="anchor-tag">Our Services</a></li>
      <li><a href="#contact"  class="anchor-tag">Book Online</a></li>
    </ul>
  </div>

</div>
