<link rel="stylesheet" href="css/index.css" type="text/css" media="screen" title="no title" charset="utf-8">



<script src="javascripts/home-scripts/free-estimate-handler.js"></script>
<script src="javascripts/fade-in.js"></script>



<div id="index-container">

    <div id="title-image-container" class="fade-in">
        <img src="img/index-img-01.jpg" class="title-image">
    </div>

    <div id="title-container">
        <div id="title-background-div">
            <div id="title">
                <h1>Long Island Prime Painting</h1>
            </div>

            <div id="button-container">
                <button>Get Your Free Estimate!</button>
            </div>
        </div>
    </div>
    <div id="box-2" class="text-box">

        <h1>About Us</h1>
        <div id="text-container">
            <p>We are a small local business that offers a variety
             of interior and exterior painting services across
              Long Island and New York City. Our founder Mario
               July has been in this industry for over 10 years,
                and knows the trade inside and out.</p>
        </div>
    </div>
    <div id="services-box">
        <div id="services-title-box">
            <h1>Services</h1>
        </div>
        <div id="services-list">
            <div id="service-box-1" class="service-box">
                <img src="img/roller-icon.jpg">
                <h4>Wallpaper Painting & Staining</h4>
                <p>
                    We handle putting up wallpaper, interior 
                    and exterior painting, and staining with expert care and precision 
                    to give your home a vibrant and lively feeling.</p>
            </div>
            <div class="service-box">
                <img src="img/scraper-icon.jpg">
                <h4>Construction & Repair</h4>
                <p>
                    From putting up sheet rock to dry wall and plastering, 
                    we can build or help maintain an atmosphere of your choosing.
                </p>
            </div>
            <div id="service-box-3" class="service-box">
                <img src="img/hammer-icon.jpg">
                <h4>Handyman Work</h4>
                <p>
                    Any additional hardware work you want to throw at us,
                    we will tackle it.
                </p>
            </div>
        </div>
        <div id="contact-box">
            <a href="./contact">Contact us </a><h4> for your free estimate today!</h4>
        </div>
    </div>
</div>