<!DOCTYPE html>
<div id="layout-container">
	<head>
		
		<link rel="stylesheet" href="css/layout.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<title>Prime Painting</title>

		<div id="header">
			<h1>L.I. Prime Painting</h1>
			<ul>
				<li><a href="/contact" id="contact">Contact</a></li>
				<li><a href="/gallery">Gallery</a></li>
				<li><a href="/">Home</a></li>
			</ul>
		</div>

	</head>

	<body>
		{{{body}}}
	</body>

</div>

<div id="footer">
	<p>Copyright © 2018 Long Island Prime Painting. All rights reserved</p>
</footer>

</html>