#index-container {
    margin: 0 auto;
    padding-top: 76px;
    background-color: #f4f4f4;
}


#title-image-container {
	position: absolute;
	display: flex;
}
.outer-image {
	height: 600px;
	width: 360px;
}
.inner-image-container {
	font-size: 0;
}
.outer-image-container {
	font-size: 0;
}
.inner-image {
	width: 706px;
	height: 300px;
}
img {
	object-fit: cover;
}



#title-container {
	position: relative;
	height: 356px;
	padding-top: 15%;
	padding-bottom: 30px;
	align-content: center;
}
#title-background-div {
	margin: 0 auto;
	padding: 30px;
	background-color: #00000078;
	width: 500px;;
}
#title {
	width: fit-content;
	margin: 0 auto;
	color: white;
}
#button-container {
	width: fit-content;
	margin: 0 auto;
	text-align: center;
}
button {
	position: relative;
	
	margin: 0 auto;
	margin-top: 20px;

    width: 350px;
    height: 40px;

    font-size: 25px;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;

	border-radius: 5px;
    border: 1px solid #3079ed;
	background-color: #4d90fe;

	z-index: 2;
}
button:hover {
	border-color: rgb(33, 91, 183);
	background-color: #4c8df7;
	box-shadow: inset  0 -10px 10px -10px rgba(0,0,0,0.1);
}
button:active {
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	outline: default;
}



.text-box {
	width: 100%;
	height: 300px;
	color: #2d2d2d;
	font-size: 20px;
	border-bottom: solid 1px #cccccc;
}



#box-2 {
	font-size: 25px;
	width: 61%;
	margin: 0 auto;
}
#box-2 h1 {
	padding-top: 60px;
	padding-left: 3px;
	text-align: center;
	font-weight: 300;
}
#box-2 #text-container {
	padding-top: 30px;
	margin: 0 auto;
	font-weight: 100;
}



#services-box {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #2d2d2d;
	padding-top: 20px;
	padding-bottom: 40px;
}
#services-title-box h1{
	font-weight: 300;
	font-size: 47px;
	padding-bottom: 30px;
}
#services-list {
	padding-bottom: 50px;
}
#services-list img {
	width: 35px;
	padding-top: 7px;
	float: left;
}
#services-list h4 {
	font-size: 25px;
	font-weight: 100;
	padding-top: 10px;
	padding-left: 2px;
	padding-bottom: 40px;
}
#services-list p {
	font-size: 20px;
	font-weight: 100;
	text-align: left;
	text-indent: 55px;
	width: 100%;
}
.service-box {
	width: 26%;
	height: 210px;
	padding-right: 1%;
	padding-left: 1%;
	display: inline-block;
	vertical-align:top
}
#service-box-1 {
	border-right: 1px solid #ccc;
}
#service-box-3 {
	border-left: 1px solid #ccc;
}

#contact-box h4 {
	color: #2d2d2d;
	font-size: 20px;
	font-weight: 400;
}
#contact-box a {
	color: #03A9F4;
	font-size: 20px;
	text-decoration: none;
	display: inline;
}
#contact-box a:hover {
	color: #006898;
}
#contact-box h4 {
	display: inline;
	font-size: 20px;
}
